<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Color</th>
      <th>Size</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let widget of widgets">
      <tr class="widget-view-row"
        *ngIf="editWidgetId !== widget.id"
        [widget]="widget" (editWidget)="doEdit($event)"
        (deleteWidget)="doDelete($event)" ></tr>
      <tr class="widget-edit-row"
        *ngIf="editWidgetId === widget.id"
        [widget]="widget" (saveWidget)="doSave($event)"
        (cancelWidget)="doCancel()" ></tr>
    </ng-container>
  </tbody>
</table>
