<!--

  scope: { headerText: '@' }
  headerText="Color Tool"

  scope: { headerText: '@' }
  headerText="{{colorToolHeaderText}}"


  scope: { headerText: '<' }
  [headerText]="colorToolHeaderText"

  scope: { headerText: '=' }
  [headerText]="colorToolHeaderText"

-->

<app-tool-header [headerText]="colorToolHeaderText">
</app-tool-header>

<ul>
  <li *ngFor="let color of colors">
    {{color}}
  </li>
  <!-- <ng-template ngFor [ngForOf]="colors" let-color>
    <li>{{color}}</li>
  </ng-template> -->
</ul>

<app-color-form buttonText="Add Color"
  (submitColorForm)="addColor($event)">
</app-color-form>





